In [1]:
#iniciamos importando las librerias

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
#importamos el dataset para su analisis

In [5]:
df = pd.read_csv('C:/ANALISIS 1/esi_2022.csv', encoding='utf-8', sep=';')
df

,Unnamed: 0,tip_movi,tip_naci,anio_movi,mes_movi,dia_movi,sex_migr,nac_migr,subcont_nac,cont_nac,...,lug_prod,pais_res,subcont_res,cont_res,jef_migr,pro_jefm,can_jefm,cla_migr,ocu_migr,edad
0,1,2,1,2022,4,20,2,218,13,1,...,32017,32,13,1,1,17,1701,88.0,66666,23
1,2,1,1,2022,5,26,2,218,13,1,...,756006,218,13,1,1,17,1701,88.0,55555,68
2,3,2,1,2022,12,8,1,218,13,1,...,170010,218,13,1,11,4,401,88.0,88888,14
3,4,2,1,2022,10,3,1,218,13,1,...,840095,218,13,1,12,9,901,88.0,4419,71
4,5,1,1,2022,2,1,2,218,13,1,...,724045,724,23,2,1,17,1701,88.0,9112,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5052628,5052629,2,2,2022,10,13,1,840,11,1,...,724013,840,11,1,12,9,901,241.0,77777,61
5052629,5052630,2,2,2022,5,14,1,840,11,1,...,840221,840,11,1,12,9,901,9999.0,4419,43
5052630,5052631,2,2,2022,3,7,2,840,11,1,...,840095,840,11,1,12,9,901,241.0,5111,32
5052631,5052632,2,1,2022,12,27,2,218,13,1,...,604019,218,13,1,12,9,901,241.0,3413,56
5052632,5052633,2,1,2022,12,28,2,218,13,1,...,686001,218,13,1,12,9,901,1110.0,55555,24

In [6]:
#verificamos la informacion del dataset medianto info()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5052633 entries, 0 to 5052632
Data columns (total 25 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    int64
 1   tip_movi      int64
 2   tip_naci      int64
 3   anio_movi     int64
 4   mes_movi      int64
 5   dia_movi      int64
 6   sex_migr      int64
 7   nac_migr      int64
 8   subcont_nac   int64
 9   cont_nac      int64
 10  via_tran      int64
 11  mot_viam      int64
 12  pais_prod     int64
 13  subcont_prod  int64
 14  cont_prod     int64
 15  lug_prod      int64
 16  pais_res      int64
 17  subcont_res   int64
 18  cont_res      int64
 19  jef_migr      int64
 20  pro_jefm      int64
 21  can_jefm      int64
 22  cla_migr      float64
 23  ocu_migr      int64
 24  edad          int64
dtypes: float64(1), int64(24)
memory usage: 963.7 MB

In [ ]:
#Verificamos si existen nulos

In [ ]:
hay_nulos = df.isnull().values.any()
if hay_nulos:
    print("El DataFrame contiene valores nulos.")
else:
    print("El DataFrame no contiene valores nulos.")

In [ ]:
#al encontrar nulos limpiamos la base con dropna

In [ ]:
df1= df.dropna()
hay_nulos_despues = df1.isnull().values.any()
if hay_nulos_despues:
    print("El DataFrame resultante aún contiene valores nulos después de eliminarlos.")
else:
    print("El DataFrame resultante no contiene valores nulos después de eliminarlos.")

In [ ]:
#volvemos a verificar la BDD para cersionarnos que se haya retirado los valores nulos

In [ ]:
df1.info()

In [ ]:
#verificamos cuantos movimientos se realizaron por mes

In [ ]:
df1['mes_movi'].value_counts()

In [ ]:
#exportamos a un excel el dataframe

In [ ]:
df1['mes_movi'].value_counts().to_excel('meses.xlsx', index=True)

In [ ]:
#Generamos un nuevo dataframe y que solo nos indique el top 10

In [ ]:
Edades_df=df1['edad'].value_counts().sort_values(ascending=False)
Edades_df.head(10)

In [ ]:
#Contamos los valores por nacionalidad para conocer las nacionales que tuvieron mas movimientos a parte de ecuatorianos, posterior para esto exportamos una tabla en excel

In [ ]:
df2=df1['nac_migr']
df2.value_counts()

In [ ]:
#Exportamos los datos en excel

In [ ]:
df2.value_counts().to_excel('vuelos.xlsx', index=True)

In [ ]:
#Evaluamos de igual manera todos los puntos que queremos resolver como movimientos, genero y motivos de traslado

In [ ]:
df1['tip_movi'].value_counts()

In [ ]:
df1['sex_migr'].value_counts()

In [ ]:
df1['mot_viam'].value_counts()

In [ ]:
#Para finalizar hicimos un groupby con la finalidad de poder conocer por motivo los ingresos y salidas.

In [ ]:
conteo_movimientos = df1.groupby(['mot_viam','tip_movi',]).size()
print(conteo_movimientos)